.outer-div {
    display: inline-block;
    background-color: rgb(230,73,128);
    padding: 20px;
}

.inner-div {
    width: 400px;
    text-align: center;
    background-color: rgb(34,139,230);
    border: 15px solid rgb(206,212,218);
    padding: 25px;
}